.news-container {
  margin: 50px 0;
}

.multi-box-wrapper {
  padding: 5px;
  max-width: 960px;
  margin: 20px auto;
}

.multi-box-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

/* STRUCTURE */
.multi-box-column {
  flex: 1;
  border: 1px solid gray;
  margin: 10px;
  padding: 20px;
  min-width: 25%;
}

@media screen and (max-width: 1100px) {
  .multi-box-columns .multi-box-column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .multi-box-columns .multi-box-column:nth-last-child(2) {
    margin-right: 0;
  }
  .multi-box-columns .multi-box-column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .multi-box-columns .multi-box-column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
